.about-page {
  min-height: 100vh;
  max-width: 420px;
  margin: 0 auto; 
  padding: 20px 16px 90px; /* bottom padding to avoid covering nav*/
  box-sizing: border-box;

  display: flex;
  flex-direction: column;
}
.about-title {
  font-size: 1.5rem;
  font-weight: 600;
  color: #111827;
}

.about-subtitle {
  font-size: 0.95rem;
  color: #6b7280;
  margin-bottom: 18px;
}

.about-content {
    padding: 0px 5px 5px 5px;
    display: flex;
    flex-direction: column;
    
}

.about-mission, .about-methodology{
    margin-bottom: 50px;
    border: 1px solid #eef0f5;
    padding: 5px 5px 5px 5px;
    
    background-color: rgb(255, 255, 255);
   
}
.mission-title, .methodology-title{
    padding: 5px 5px 5px 5px;
    font-weight: 600;
}
.mission-text, .methodology-text{
    padding: 5px 5px 5px 5px;
    font-size: .95rem;
}

.logout-button {
    color: white;
    background: #111827;
    padding: 12px 16px 12px 12px;
    border-radius: 16px;
    margin-top: auto;
    font-size: .75rem;
    cursor: pointer;
   
}



